<a href="https://colab.research.google.com/github/IucasDev/IucasDeve/blob/main/aula_2_listas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
frutas = ['banana','uva','morango','laranja','manga','jaca',"pera",'melancia', 'abacate']
print (frutas)

['banana', 'uva', 'morango', 'laranja', 'manga', 'jaca', 'pera', 'melancia', 'abacate']

In [7]:
#importando pandas para ler dataframe
import pandas as pd

In [8]:
print(frutas)

['banana', 'uva', 'morango', 'laranja', 'manga', 'jaca', 'pera', 'melancia', 'abacate']

In [10]:
# pivoltando colunas em linhas
df = pd.DataFrame(frutas, columns=['frutas'])
print(df)

     frutas
0    banana
1       uva
2   morango
3   laranja
4     manga
5      jaca
6      pera
7  melancia
8   abacate

In [11]:
# exercicio comnomes de pessoas
nomes = ['Lucas','Fernanda','Vitoria','Anna Julia','Eloa','Beatriz']
print(nomes)

['Lucas', 'Fernanda', 'Vitoria', 'Anna Julia', 'Eloa', 'Beatriz']

In [12]:
df = pd.DataFrame(nomes,columns=['nomes'])
print(df)

        nomes
0       Lucas
1    Fernanda
2     Vitoria
3  Anna Julia
4        Eloa
5     Beatriz