<a href="https://colab.research.google.com/github/IucasDev/IucasDeve/blob/main/Aula_3_LIstas_2_colunas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CRIANDO MAIS COLUNAS

In [17]:
import pandas as pd

In [18]:
nomes = ['Lucas','Fernanda','Vitoria','Anna Julia','Eloa','Beatriz']
idade = [43,39,18,13,2,1]
print(nomes)
print(idade)

['Lucas', 'Fernanda', 'Vitoria', 'Anna Julia', 'Eloa', 'Beatriz']
[43, 39, 18, 13, 2, 1]

In [19]:
#criando DataFRames com 2 colunas
df = pd.DataFrame({
     'Nomes' : nomes
    ,'Idade' : idade
})
print(df)

        Nomes  Idade
0       Lucas     43
1    Fernanda     39
2     Vitoria     18
3  Anna Julia     13
4        Eloa      2
5     Beatriz      1