<a href="https://colab.research.google.com/github/IucasDev/IucasDeve/blob/main/Aulas_1_e_2_TUPLAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLAS SAO ESTRUTURAS DE DADOS IMUTAVEIS

In [1]:
#criando TUPLAS
#TUPLAS se cria com ()
dias_de_semana =('segunda','terça','quarta','quinta','sexta','sabado','domingo')

In [2]:
print(dias_de_semana)

('segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sabado', 'domingo')

In [3]:
#Para saber se esta na lista True ou False, usa o (in)
print('sexta' in dias_de_semana)

True

In [6]:
#Para acessar em qual pocisao esta na lista usa (index)
print(dias_de_semana.index('sexta'))

4

In [12]:
# para contar quantos itens tem usa (len)
cidades = ('Campinas', 'Sao Paulo', 'Belo Horizonte')
print(cidades)
print(len(cidades))

('Campinas', 'Sao Paulo', 'Belo Horizonte')
3

In [13]:
# para contar quantos vezes o numero 7 aparece na lista usa (count)
lista = (1,3,5,7,7,7,8,9,4,5,6,3,2)
print(lista.count(7))

3

In [17]:
#Para mostrar duas ou mais variaveis usa +
nome1 =('Ana','Bruno')
nome2 =('Carlos','Diana')
print(nome1)
print(nome2)
nomes = nome1 + nome2
print(nomes)

('Ana', 'Bruno')
('Carlos', 'Diana')
('Ana', 'Bruno', 'Carlos', 'Diana')